.carrinho-lateral {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: rgb(235, 233, 233);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 1000;
  overflow: auto;
  box-sizing: border-box;

}

.carrinho-lateral::-webkit-scrollbar {
  width: 0px;
}

.carrinho-lateral {
  scrollbar-width: none;
}

.carrinho-lateral.open {
  right: 0;
}

.carrinho-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #333333;
}

.carrinho-conteudo {
  padding: 1rem;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #4A0072
}

.close-button:hover {
  background: none;
  font-weight: bold;
}

.carrinho-item span {
  padding: 5px;
}

.carrinho-total {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;

}

.trash-icon {
  font-size: 16px;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
}

.trash-icon:hover {
  color: darkred;
}

.botoes {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.add-to-cart-button {
  width: 160px;
  background-color: #9C27B0;

}

.pagamento:hover {
  background-color: green;
}

.carrinho-tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.carrinho-tabela th,
.carrinho-tabela td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.carrinho-tabela th {
  background-color: #4A0072;
  color: white;
  font-weight: bold;
}

.trash-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}