
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}


.modal-content {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 600px; 
    max-height: 90%; 
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative; 
}


.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black ;
}


.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}


.modal-image {
    width: 300px; 
    height: 300px; 
    object-fit: contain;
    border-radius: 8px;
}


.modal-details {
    text-align: center;
    color: black ;
}

.modal-details h2 {
    margin: 0;
    font-size: 24px;

}

.modal-details p {
    margin: 10px 0;
    padding: 10px;
}


.add-to-cart-button {
    background-color: #b29079 ;
    background: #b29079 ;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.add-to-cart-button:hover {
    background: #e1daca ;
}
.modal-image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 500px; 
    height: 300px; 
    width: 100%;
}

.image-controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* transform: translateY(-50%); */
}

.image-control button {
    background: rgba(0, 0, 0, 0.5);
    color: rgb(39, 39, 39);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
}

@media (max-width: 768px) {
    .modal-body {
        transform: scale(0.92);
    }
    .modal-close {
        top: 0;
        right: -110px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: black ;
    }
    .image-controls {
        transform: translateY(-50%); 
    }
    
}
.animacao-check {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #047a00;
    border-radius: 50%;
    padding: 10px;
    animation: fadeUp 2s ease-out;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate(-50%, 10px);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, 0px);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -10px);
    }
}