.checkout-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 40px;
  top: 30vh;
  height: 70vh;
}

.carrinho-detalhes,
.formulario-pagamento {
  width: 300px;
  padding: 20px;
  height: auto;
  min-height: 350px;
  border-radius: 10px;
  background-color: #e1daca;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.carrinho-detalhes {
  width: 400px;
  overflow: auto;
  height: auto;
}

.carrinho-detalhes::-webkit-scrollbar {
  width: 0px;
}

.carrinho-detalhes {
  scrollbar-width: none;
}

.formulario-pagamento {
  margin-top: 30px;
  border-radius: 0px 10px 10px 10px;
}

.pagamento-pix {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h3 {
  margin-top: -35px;
  color: #b29079;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

form {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background: #b29079;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #e1daca;
}

.abas-pagamento {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -53px;
}

.aba {
  padding: 10px 15px;
  background: #b29079;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.aba.ativa {
  background: #b29079;
  font-weight: bold;
}

.conteudo-aba {
  padding: 40px 10px 10px 10px;
}

.qr-code {
  width: 230px;
  height: 230px;
  margin-top: 10px;
  border-radius: 8px;
}

.carrinho-tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.carrinho-tabela th,
.carrinho-tabela td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.carrinho-tabela th {
  background-color: #b29079;
  font-weight: bold;
}

@media (max-width: 768px) {
  .checkout-container {
    margin-top: 80px;
    height: 100%;
    justify-content: space-between;
    gap: 20px;

  }

  .carrinho-detalhes {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 300px;
    height: auto;
  }

}