::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

html,
body {
    overflow-y: scroll;
    height: 100%;
    background-color: #f6f5ec;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}

body {
    overflow-x: hidden;
}

.Main {
    min-height: 100vh;
    color: black;
    background-color: #f6f5ec;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Content {
    margin-top: 15vh;
}

.container-products {
    width: 100%;
    display: flex;
    background-color: #f6f5ec;
}

.lista-filtros {
    margin-top: 20px;
    padding-left: 20px;
    width: 25%;
    min-height: 100vh;
    padding-top: 15vh;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lista-filtros form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.lista-filtros input,
.lista-filtros select,
.lista-filtros textarea,
.lista-filtros button {
    padding: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.3em;
}

.lista-filtros textarea {
    height: 100px;
}

.contact-form {
    margin-top: 20px;
    align-items: center;
}

.lista-filtros button {
    background-color: #b29079;
    color: black;
    border: none;
    cursor: pointer;
}

.lista-filtros button:hover {
    background-color: #e1daca;
}

.product-list {
    width: 75%;
    margin-top: 20vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    justify-content: space-between;
    height: 350px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.product-item:hover .product-image {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.product-image {
    margin-top: 10px;
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 0.3em;
    margin-bottom: 10px;
}

.product-image-wrapper {
    position: relative;
    display: inline-block;
}

h3 {
    font-size: 18px;
    margin: 10px 0 0;
    color: black;
}

.image-controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-item:hover .image-controls {
    opacity: 1;
}


.image-controls button {
    background-color: #b29079;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.image-controls button:hover {
    background-color: #e1daca;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.788);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: #efe7da;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.input {
    border-radius: 5px;
    margin: 5px;
    height: 30px;
    width: 250px;
    font-size: 16px;
}

.botao-login {
    background-color: #b29079;
    color: black;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botao-login:hover {
    background-color: #e1daca;
}

.contato {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {

    body {
        font-size: 14px;
        padding: 10px;
    }

    header {
        font-size: 1rem;
        padding: 12px;
    }

    .container,
    .formulario-pagamento {
        width: 90%;
        padding: 15px;
    }

    .carrinho-lateral {
        width: 100%;
        right: -100%;
    }

    .checkout-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        height: auto;
    }

    .carrinho-detalhes,
    .formulario-pagamento {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    .carrinho-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 0;
    }

    .botoes {
        gap: 10px;
    }

    button {
        padding: 10px;
        width: 80%;
    }

    .abas-pagamento {
        justify-content: center;
    }

    .product-list {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 5px;
    }

    .product-item {
        transform: scale(0.9);

    }

    .product-image-wrapper {
        transform: scale(0.9);
    }

    .lista-filtros {
        display: none;
    }

    .product-item:hover .product-image {
        transform: none;

    }
    .contact-form {
        margin-top: 100px;
        display: flex;
        padding: 5px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0.3em;
    }
    .contato {
        display: flex;
        max-width: 400px;
    }

}

.home {
    display: grid;

    height: 100vh;
}

.section {
    padding: 50px;
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    gap: 30px;
}
.box1 {
    padding-top: 100px;
    height: 87vh;
}
.box2 {
    padding-top: 100px;
    background-color: rgb(241, 235, 199);
    height: 87vh;
}
.box3 {
    padding-top: 100px;
    height: 87vh;
}
.imagebox {
    height: 500px;
    width: 400px;
    border-radius: 15px;
}